.wrapper{
  height: 100vh;
  position: absolute;
  width: 90%;
}

// .sticky{
//     position: sticky;
//     position: -webkit-sticky;
//     float: left;
//     display: flex;
//     flex-direction: column;
//     background-color: #F9F9F9;
//     top:20px;
//     padding: 25px;
    

// }

// .firstSection{
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   p{
//     font-weight: 500;
//     font-size: 1.7rem; 
//     margin-block-start: 0;
//   }
//   h2{
//     color:#AEC54F;
//   }
//   h3{
//     font-weight: 300;
//   }
// }
// hr{
//   border-width:0.7px;
// }

// .secondSection{
//     h3{
//     text-align: center;
//     font-weight: 500;

//   }
// }