.wrapper{
    display: flex;
    align-items: center;
}

.content{

    h1{
        margin-bottom: 1rem;
    }

    p{
    font-size: 1.2rem;
    line-height: 2;
    }

    .cta{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        a{
            margin-top: 1rem;
            font-size: 1.2rem;  
            color: #AEC54F;
        }
    }
    
}

.bgWrapper{
    min-height: 50vh;
    margin-right: 4rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    padding: 3rem;
}

.bg{
    background-image: url("./book-image.jpg");
    z-index: 200;
    min-height: 40vh;
    width: 70%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .bgDecoration{
        position: absolute;
        top: -10vh;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 60vh;
        background: rgba(0, 0, 0, 0.1);
        z-index: 0;
        transform: rotate(33.2267deg);
    }
}


@media(max-width: 1280px){
    .bg{
      width: 100%;
    }
}


@media(max-width: 800px){
    .wrapper{
        flex-direction: column;
      }
      .content{
          order: 2;
          width: 60%;
      }
      .cta button{
          width: 100%;
          transition: 5s;
      }
  
      .bgWrapper{
          min-height: 40vh;
          order: 1;
          margin-right: 0;
          width: 60%;
          margin-bottom: 3rem;
      }
      .bg{
          min-height: 30vh;
      }
      .bgDecoration{
        display: none;
    }
}

@media(max-width: 600px){
    .content, .bgWrapper{
      width: 100%;
    }
   
}