@import '../../../../layout//common/style.scss';
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Roboto&display=swap');

.container {
    display: flex;
  }
  .text{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-size: $pSize;
        line-height: 24px;
        font-family: 'Roboto', sans-serif;

    }
  }

.imgWrapper{
    padding: 5%;
    background-color: rgba(239, 240, 234, 1);
    max-height: 544px;
    display: flex;
    justify-content: center;
  }

  .headline{
    font-size: $hSize;
    font-weight: 400;
    font-family: 'Amatic SC', cursive;
    color: $green;
  }

  @media(max-width: 1440px){
    .text{
      margin-top: -50px;
      p{
        font-size: 20px;
      }
      h1{
        margin-bottom:10px;
      }
    }

  }
  @media(max-width: 1250px){

    .container{
      flex-direction: column-reverse;
      margin-top: -15rem; // why did I used rem here?
      text-align: center;
      align-items: center;
    }
    .text{
      margin-left: 0;
    }

    .imgWrapper{
      margin-right: 0;
      margin-bottom: 5rem; 
    }
    
  }
  