@import '../../../../layout//common/style.scss';
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Roboto&display=swap');

.container {
  display: flex;
  align-items: center;
  & > * {
    flex: 1;
  }
}
.content {
  justify-content: center;
  .headline {
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    color: $green;
  }
  p {
    font-size: $pSize;
    margin: 0;
    text-align: right;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
  }
}

.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  margin-top: -6rem;
  margin-right: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 1280px) {
  .text {
    margin-left: 0;
    p {
      font-size: 1rem;
    }
  }

  .imgWrapper {
    margin-right: 0;
    margin-bottom: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    transition-delay: 2s;
  }
  .content {
    margin-top: 3rem;
  }
  .img {
    margin-right: 0;
    margin-top: 0;
    width: 60%;
    min-height: 400px;
  }
}

@media (max-width: 600px) {
  .container {
    transition-delay: 0s;

    .img {
      width: 70%;
      min-height: 320px;
      background-position: top center;

      .headline {
        margin-bottom: -0.5rem;
      }
    }
    p {
      margin-top: 2rem;
    }
  }
}
