*{
    direction: rtl;
}

nav{
    display: flex;
    text-align: left;
    .nav-links{
        display: flex;
        list-style: none;
        a{
                text-decoration: none;
        }
        li{
            margin: 100 px;
            text-decoration: none;
            color:grey;
            font-size:28px;
            line-height: 20px;
            font-family: Bellefair;
        }
            
    }
}

