$font-size: 1.4rem;

footer{
    background: black;
    height: 15%;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
}

.treatments{
    height: 100%;
    flex: 2;
    
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        margin: 0px;
    }
    li{
        font-size: $font-size;
        margin: 15px;
    }
    a{
        color:white;
    }

}

.contact{
    flex: 1;

    h4{
        color: white;
        font-size: $font-size;
        margin: 20px 0px;
    }
    p{
        color:white;
        font-size: $font-size;
    }
}

 
 