* {
    direction: rtl;
  }
  nav {
    display: flex;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    
    .nav-links {
      display: flex;
      list-style: none;
      width: 60%;
      justify-content: space-between;
      padding: 0;
     
    }
    a {
      text-decoration: none;
      position: relative;
      margin: 20px;
      margin-right: 100px; 
    }
    li {
      
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        line-height: 20px;
      
    }
  }
 