  a:hover{
    background: transparent;
  }
  
  section{
  margin: 0 auto;
  width: 80%;
  margin-bottom: 12rem;
  }

.first-section-container {
  display: flex;
  flex-direction: row;
  background-image: url('./assets/first_sec_bg.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 50vh;
  background-size: 80%; 
  justify-content: flex-end
}

.content{
  width: 50%;
  padding-top: 7rem;
}

.first-text h1{
  font-size: 56px;
  font-weight: normal;
}
.first-sec-button > Button ~ Button{
  margin-right: 20px; 

}

.second-section {
  display: flex;
  width: 100%;
  
}
.second-text{
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second-section p{
  font-size: 23px;
  line-height: 24px;

}
.orna-img{
  padding: 80px;
  background-color: rgba(239, 240, 234, 1);

}

.green-headline p{
  font-size: 22px;
}

.fourth-section-container {
  height: 40vh;
}
