@import '../style.scss';

.container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top: solid 1px rgba(0,0,0,.1);
    margin-bottom: 0;
}

.group{
    width: 30%;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    h1 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        color: $green;
        font-weight: 300;
      }
    a{
        font-size: 1.2rem;
        padding: .5rem;
        padding-right: 0;
        text-align: left;
        transition: .5s;
        color: rgba(0,0,0,.5);
        &:hover{
          color: #AEC54F;
        }
    }
    p{
        padding: .5rem;
        padding-right: 0;
        transition: .5s;
        color: rgba(0,0,0,.5);
    }

}
.description{
    flex: 1;
    p{
      font-size: 1.2rem;
      text-align: right;
      
    }
    img{
      width: 100%;
      margin-bottom: 1rem;
    }
}
 

@media(max-width: 1280px){

    .container{
        flex-wrap:wrap;
        padding-top: 2rem;
        padding-bottom: 2rem;
        h1{
          font-size: 1.5rem;
          margin-bottom: .5rem;
        }
        a{
          font-size: 1rem;
        }
        .description{
            width: 100%;
            flex: auto;
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-top: solid 1px rgba(0, 0, 0, 0.1);
            padding-top: 1rem;
            margin-top: 1rem;
        img{
            width: 30%;
            max-width: 200px;
        }
          p{
            font-size: 1rem;
          }
        }
      }

    .group{
        width: 40%;
        margin-left: 0;
        &:last-child{
          margin-left: 10%;
        }
    }
    
  }
  

  @media(max-width: 600px){
    .container{
      transition-delay: 0s;
      // margin: 0;
  
      .img{
        width: 70%;
        min-height: 320px;
        background-position: top center;
        .headline{
          margin-bottom: -.5rem;
        }
       }
      p{
        margin-top: 1rem;
      }
    }  
  }

  