.banner_wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 5rem;
}

.banner_content{
    flex: 1;
    background-color: #575C5F;
    padding: 30px 50px;

    h1{
        color: #AEC54F;
        font-weight: lighter;
        font-size: 3rem;    
        line-height: normal;
        
    }
    h2{
        color: #EFF0EA;
        font-weight: lighter;
        font-size: 30px;
    
    }
    p{
        color: #EFF0EA;
        font-size: 15px;
    }

}


.banner_bg{
    flex: 1;
    background-image: url('../../../../pages/components/home/assets/treatment-7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}