.welcomeBanner {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 20%;
  background-image: url('../assets/first_sec_bg.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
}

.features{
    display: flex;
    margin-bottom: 1rem;
    .featuredItems{
        min-width: 150px;
        max-width: 200px;
        width: 45%;
        height: 100px;
        background: teal;
        margin-right: 1rem;
    }
}


