.welcomeBanner {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/smile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    font-size: 60px;
    color: white;
    margin: 0;
  }
}

@media(max-width: 600px){
  .welcomeBanner{
    min-height: 80vh;
    img{
      width: 70%;
    }
  }
}

@media(max-width: 600px){
  .welcomeBanner{
    height: 90vh;
    margin: 0;

    img{
      width: 80%;

     }
     h4{
      width: 80%;
      text-align: center;
      line-height: 1;
      margin-top: 1rem;
    }
  }  
}



