.welcomeBanner {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url('/static/da13fffeaa7225df86f350850c9185f1/52258/smile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    font-size: 60px;
    color: white;
    margin: 0;
  }
}

@media(max-width: 1600px){
  .welcomeBanner{
    background-image: url('/static/da13fffeaa7225df86f350850c9185f1/4f4f6/smile.jpg');

  }
}
@media(max-width: 1280px){
  .welcomeBanner{
    background-image: url('/static/da13fffeaa7225df86f350850c9185f1/0e329/smile.jpg');

  }
}


@media(max-width: 800px){
  .welcomeBanner{
    min-height: 80vh;
    background-position-x: -148px;
    background-image: url('/static/da13fffeaa7225df86f350850c9185f1/5af51/smile.jpg ');
    img{
      width: 70%;
    }
  }
}

@media(max-width: 600px){
  .welcomeBanner{
    height: 90vh;
    margin: 0;
    background-position-x: -400px;
    background-image: url('/static/da13fffeaa7225df86f350850c9185f1/14b42/smile.jpg');
    img{
      width: 80%;

     }
     h4{
      width: 80%;
      text-align: center;
      line-height: 1;
      margin-top: 1rem;
    }
  }  
}



