* {
    direction: rtl;
  }

 
  nav {
    // display: flex;
    // text-align: left;
    // width: 100%;
    // align-items: center;
    // top: 0;
    // right: 0;
    // left: 0;
    // z-index: 10;
    // background-color: rgba(white,0.9);
    // position: sticky;
    // position: -webkit-sticky;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100vw;
    transition: 0.5s;
    z-index: 200;
    .wrapper{
      display: flex;
      width: 60%;
      margin: 0 auto;
      justify-content: space-between;
      :last-child{
        border-bottom: 1px solid white;
      }
    }
    
    // .navLinks {
    //   display: flex;
    //   list-style: none;
    //   width: 60%;
    //   align-items: center;
    //   justify-content: space-around;
    //   padding: 0;
     
    // }
    a {
      padding: 1.1rem;
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      border-bottom: 0 white;
      &:hover{
        border-bottom: 1px solid white;
      }
    }    

    img{
      padding: 1rem;
      margin-left: 1rem;
      margin-right: 10px;
    }

  }

  .burgerWrapper{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    div {
      width: 2rem;
      height: 0.25rem;
      background: black;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }
  }
  @media(max-width: 850px){
    nav{
      .navLinks{
        display: none;
      } 
    }
    .burgerWrapper{
      display: flex;
      margin: 0 1rem;
      position: relative;
      top: 13px;
    }
 
}
 


// .navigation-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   max-width: 100vw;
//   transition: 0.5s;
//   z-index: 200;
// }
// .navigation-container .ks-wrapper {
//   display: flex;
//   justify-content: space-between;
// }
// .navigation-container a {
//   padding: 1.1rem;
//   color: white;
//   text-decoration: none;
//   font-size: 1.2rem;
//   border-bottom: 0 white;
// }
// .navigation-container a img {
//   width: 150px;
//   object-fit: contain;
// }
// .navigation-container a:hover {
//   border-bottom: 1px solid white;
// }
// .navigation-container .home__navigation {
//   display: none;
// }
// .navigation-container .btn__navigation {
//   text-decoration: underline;
// }
// .navigation-container.navigation-inverse {
//   background: white;
//   border-bottom: solid 1px rgba(0, 0, 0, 0.1);
// }
// .navigation-container.navigation-inverse .home__navigation {
//   display: block;
// }
// .navigation-container.navigation-inverse a {
//   color: black;
//   transition: 0.2s;
//   transition-delay: 0s !important;
// }
// .navigation-container.navigation-inverse a:hover {
//   border: none;
//   color: #AEC54F;
// }