@import '../../../../layout//common/style.scss';


.treatments{
  h1{
    text-align: center;
    font-size: 66px;
    font-family: 'Amatic SC', cursive;
    color: black;
    font-weight: 500;

  }
}

.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
  } 
  
.column {
    // display: flex;
    // flex-direction: column;    
}

// .secondColumn{
//   height: 80%;
// }

.card {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    justify-content: center; 
    height: auto;
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        transition: filter 0.5s;
        filter: grayscale(100%);
      }
    img:hover {
        filter: grayscale(0);
       }
    
}
 
.big img {
  height: 550px;
}

.cardText {
    position: absolute;
    width: 95%;
    background: white;
    height: 90px;
    bottom: 8px;
    border-radius: 5px;
    h3 {
        text-align: right;
        font-size: 25px;
        margin-right: 20px; 
        font-weight: lighter;
        color: #575C5F;
      }
  }
