@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bellefair&display=swap');

*{
  direction: rtl;
  box-sizing: border-box;
  font-family: "Heebo",Sans-serif;
  line-height: 24px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

ul{
  list-style-type: none;
}
p{
  margin: 0;
}


h1{
  font-size: 3rem;
  color: #AEC54F;
  font-weight: 300;
}

h4{
  font-family:'Alef','sans-serif';
  font-weight: 400;
  width: 70%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section{
  margin: 10rem auto;
  width: 60%;
}



@media (max-width: 1600px) {
  section {
    width: 70%;
  }
  
}
@media (max-width: 1280px) {
  section {
    width: 80%;
  }
  h1{
    font-size: 3rem;
  }
}

@media(max-width: 800px){
  section{
    margin: 4rem auto;
  }
  h1{
    font-size: 2.5rem;
  }
}

@media(max-width: 800px){
  section{
    width: 90%;
  }
  h1{
    font-size: 2.2rem;
  }
}