.wrapper{
    display: flex;
  }

  .content{
    display: flex;
    flex-direction: column;
    flex:1;
  }
  
  .item{
    display: flex;
    align-items: center;
    width: 70%;
    span{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin: 0 1rem;
        padding-top: .5rem;
        background: #F9F9F9;
        text-align: center;
    }
    h6{
        font-size: 20px;
    }
  }

  .imgWrapper{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background: linear-gradient(0deg, #F2F2F4, #F2F2F4);
    flex: 1;
  }
  
  .imgDecoration{
    background-image: url('../assets/image.png');
    position: absolute;
    top: 7.5rem;
    left: 0;
    right: 2rem;
    bottom: 0rem;
    z-index: 0;
  }

  .img{
    width: 80%;
    height: 80%;
    z-index: 1;
    position: absolute;
    bottom: -2rem;
    right: -2rem;

  }
  
  