
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 500px;
    width: 80%;
    margin: 20px auto;
}



.map{
    width: 80%;
    margin: 0 auto;
}

.contact_text_wrapper {
    p{
        font-size: 18px;
    }
}

.marker{    
    img{
        height: 50px;
        width: 30px;
    }
}

.contact_banner{
    margin: 50px 0;
}
