@import '../../../../../layout/components/common/style.scss';

.wrapper{
    width: 100%;
    height: 45vh;
    display: flex;
}

.content{
    flex:1;
    background-color: #F9F9F9;
    padding: 100px 100px 100px;
    
}

.bannerText{
    width: 70%;
    h1{
        font-size: $hSize;
    }
    h3{
        font-weight: 500;
    }

}