@import '../../../layout/common//style.scss';

h3 {
  color: $green;
}

.header {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
}

.headlineText {
  width: 40%;
  text-align: right;
  margin-right: 7rem;
  h2 {
    font-size: $hSize;
    color: white;
    line-height: 1em;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: 500;
    color: black;
  }
}

.content {
  h3 {
    text-align: center;
  }
  ul {
    list-style-type: disc;
  }
}
